/* 背景色 */
.zzjz-bg-red{
	background:#F76260; color:#FFF;
}
.zzjz-bg-green{
	background:#09BB07; color:#FFF;
}
.zzjz-bg-blue{
	background:#007AFF; color:#FFF;
}
/* flex元素等级:3级 */
.zzjz-flex-grow-1 {
	flex-grow: 1;
}
.zzjz-flex-grow-2 {
	flex-grow: 2;
}
.zzjz-flex-grow-3 {
	flex-grow: 3;
}
	